<div class="container">
    <div class="row" style="margin: 0 auto; text-align: center; margin-top: 4rem;">
        <h1>Capitalite</h1>
        <p>A lightweight, self-hostable portfolio tracker</p>
    </div>
</div>