<div id="sideBar" class="relative overflow-auto bg-white w-64 hidden sm:block border-r p-6">

    <!-- sidebar content -->
    <div class="flex flex-col">

        <%- include('../partials/nav/links.ejs') %>

    </div>
    <!-- end sidebar content -->

</div>